
body {
    background-image: url("Max.jpg");
    background-size: 300px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {background-color: rgb(171, 171, 205);
}

h2 {
    background-color: rgb(254, 255, 92);
}

h3 {
    background-color: rgb(80, 60, 95);
}

h4 {
    background-color: rgb(90, 165, 170);
}

h5 {
    background-color: hsl(210, 63%, 50%);
}

h6 {
    background-color:hsla(210, 63%, 50%, 0.5);
}
